/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: exoThin;
    src: url("../fonts/Exo-Thin.otf") format('opentype');
}

@font-face {
    font-family: exoMedium;
    src: url("../fonts/Exo-Medium.otf") format('opentype');
}

@font-face {
    font-family: exoRegular;
    src: url("../fonts/Exo-Regular.otf") format('opentype');
}

@font-face {
    font-family: exoRegularIt;
    src: url("../fonts/Exo-Regular-Italic.otf") format('opentype');
}

@font-face {
    font-family: latoRegular;
    src: url("../fonts/Lato-Regular.ttf") format('truetype');
}


#wrapper {
    width: 1000px;
    background-color: white;
    margin: 0 auto;
}

#header {
    background: url("../img/video.png") no-repeat center;
    background-size: cover;
    padding: 150px 0;
    background-position: top left;
    text-align: center;
}

#header .red-btn {
    width: 114px;
    display: inline-block;
    margin-top: 100px;
}

.red-btn {
    background-color: #fb8686;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
}


#header h1 {
    text-align: center;
    font-size: 46px;
    font-family: exoThin;
    padding: 7px 245px;
}

#header p {
    font-size: 10px;
    font-family: exoThin;
    padding: 12px;
}

#intro {
    background: url("../img/Rectangle 22.png") no-repeat;
    background-color: #ffffff;
    background-position: right top;
    padding: 145px 0;
    background-size: contain;
}

.article {
    padding: 0px 595px 0px 0px;
    font-family: exoMedium;
}

.article span {
    color: #fb8686;
    font-size: 15px;
}

.article h2 {
    font-size: 30px;
}

.article h2 span {
    font-size: 30px;
    color: #fb8686;
}

.article p {
    margin-top: 20px;
    font-family: exoThin;
    font-size: 12px;
}

#features {
    background: url("../img/BG-features.png") no-repeat center;
    background-size: cover;
    padding: 207px 0;
    text-align: center;
    font-family: exoMedium;
    background-position: 0 -22px;
}

#features header {
    padding: 0 0;
    position: relative;
    bottom: 115px;
}

.boxes {
    width: 100%;
    position: relative;
    bottom: 35px;
}

.box {
    float: left;
    width: 200px;
    margin-left: 100px;
}

.box img {
    width: 45px;
}

.box h3 {
    font-size: 15px;
    margin-top: 10px;
}
.box p {
    font-size: 12px;
    font-family: exoThin;
    margin-top: 10px;
}